*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    background: linear-gradient(90deg, #cfcf78 50%,#098b5d 50%
    );
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    background-color: white;
    width: 90%;
    height: 90vh;
}
.navbar .logo{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 3px solid #3c6255;
    border-radius: 50%;
    border-right-color: transparent;
    position: relative;
    justify-content: center;
}
.navbar .logo::before{
    content: "shopify";
    color: black;
    font-size: 30px;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-10%,-50%);
    font-family: arizonia,cursive;
}
.navbar{
   
    
    width: 90%;
    margin: auto;
    height: 15vh;
}
.navbar .navlist{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.navlist li{
    list-style: none;
    padding: 10px;
}
.navlist a{
    color: black;
    font-size: 18px;
    text-decoration: none;
    position: relative;
}
.navlist a::before{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: .5s ease-in-out;
}
.navlist a:hover::before{
    width: 100%;
}
.Hero{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    align-items: center;
}
.Hero img{
   width: 30%;
   height: 30%;
}
.content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    border-left: 4px solid #3c6255;
    padding: 20px 50px;
}
.content h3{
    color: rgb(73,73,73);
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px
}
.content h1{
    color:#3c6255;
    font-size: 50px;

}
.content p{
    color: black;
    font-size: 18px;
    line-height: 30px;
}
.content button{
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    border: none;
    background-color:#3c6255;
    cursor: pointer;
}
.content button:hover{
    background-color: white;
    color: #3c6255;
}